name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install modules
      run: find . -name "package.json" -execdir npm install \;
    - name: Build
      run: npm run build
      env:
        CATCORE_APPSIGN_KEY: ${{ secrets.CATCORE_APPSIGN_KEY }}
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ github.token }}
        tag: ${{ github.event.release.tag_name }}
        file: dist/**/*
        file_glob: true